body {
	margin: 0px 0px 0px 0px;
	background-color: hsl(0, 0%, 92%);
}
p {
	font-family: "Avenir Book";
}

li {
	font-family: "Avenir Book";
}

div#navBar {
	background-color: hsl(281, 100%, 29%);
	padding-bottom: 10px;
	padding-top: 10px;
	box-shadow: 1px 1px 1px 1px;
}

